nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  flex-wrap: wrap;
}

nav a {
  color: #F8FAFC;
  text-decoration: none;
}

nav {
  border-bottom: 2px solid #F8FAFC;
}

nav {
  border-bottom: 2px solid white;
}

nav ul {
  display: flex;
}

nav li {
  padding: 20px;
  list-style-type: none;

}
nav a {
    text-decoration: none;
    color: #F8FAFC;
  }

  nav a:hover {
    color: #FF7A59;
  }

@media only screen and (max-width: 990px) {
nav li {
  padding: 15px;
}

}
